In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("doubangroup.db")
cur = con.cursor()
cur.execute("select COUNT(DISTINCT user_id) from shao")
print(cur.fetchall())

[(506,)]

In [13]:
cur.execute("select COUNT(user_id) from shao")
print(cur.fetchall())

[(29779,)]

In [14]:
cur.execute("select COUNT(DISTINCT user_id) from npc")
print(cur.fetchall())

[(2728,)]

In [6]:
cur.execute("select COUNT(user_id) from npc")
print(cur.fetchall())

[(26269,)]

In [7]:
cur.execute("select COUNT(*) from shao where user_id = '155619420'")
print(cur.fetchall())

[(189,)]

In [69]:
cur.execute("select user_name,count(user_id) from npc group by user_id ORDER BY count(user_id) DESC")
for i in range(0,20):
    result = cur.fetchone()
    print(result)

('Ê∞∏ÂØÇÈü≥', 1292)
('Ê©òÂ≠êÊµ∑', 1282)
('‰∏≠ÂõΩÂè∞ÊπæÂè∂ËàíÂçé', 836)
('ÈÖ∏Ê±§È±ºËñØÁâá', 403)
('SHE_ÁéãÂ≠êÂºÇ', 382)
('ËØ∑ËÄêÂøÉ‰∏ÄÁÇπ', 291)
('Ë¥™ÂêÉÁå´ÔºàÂ∑≤ÂΩìÂ¶à', 265)
('ÁÖôÈáå‰∏ÄÈöªÁãº', 252)
('ÁéãÂ≠êÂºÇÔºàÂ∑≤ÁªìÂ©ö', 220)
('‰∏ÄÂè™ÂÜ∞ÁÆ±', 206)
('Ëá™Ë°åËΩ¶‰∏éËä±', 206)
('ÂßöÁêõ', 203)
('Ê±üÊπñÈ™óÂ≠ê', 182)
('ËÆ©‰Ω†Âà´Áúã‰Ω†ËøòÁúã', 180)
('Èôà‰ø°ÂÆè', 177)
('ÊâìÊû∂ËØ∑Êâ£1', 147)
('ÂïäÔºü', 144)
('ÈóπÈíü‰∏çËµ∑Â∫ä', 138)
('ÁâõÂ•∂Ê≥°Èù¢ü•õ', 136)
('ÂÆãÁ•ñÂÑø', 119)

In [9]:
cur.close()
con.close()

# ÂÜ∑ÂúàÂÜçÊêûÁîüÊÄÅË∞ÉÊü•

In [1]:
import sqlite3
con = sqlite3.connect("LenQuanZaiGao.db")
cur = con.cursor()

## Âçï‰∫∫

In [8]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from mjq")
print(cur.fetchall())

[(275, 70)]

In [9]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from dcx")
print(cur.fetchall())

[(387, 80)]

In [7]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from syx")
print(cur.fetchall())

[(649, 87)]

In [10]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from lyw")
print(cur.fetchall())

[(596, 86)]

In [11]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from zzy")
print(cur.fetchall())

[(561, 84)]

In [12]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from yhx")
print(cur.fetchall())

[(966, 107)]

In [13]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from hjl")
print(cur.fetchall())

[(1675, 135)]

## ÊØèÊ†ãÊ•ºÈÉΩÂèÇ‰∏é

In [14]:
sql = '''
    select count(*)
    from (
        select DISTINCT user_id,user_name from mjq 
        intersect select DISTINCT user_id,user_name from dcx
        intersect select DISTINCT user_id,user_name from syx
        intersect select DISTINCT user_id,user_name from lyw
        intersect select DISTINCT user_id,user_name from zzy
        intersect select DISTINCT user_id,user_name from yhx
        intersect select DISTINCT user_id,user_name from hjl
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(8,)]

## Âè™ÂèÇ‰∏éÂçïÊ•º

In [12]:
sql = '''
    select COUNT(*)
    from (
        select user_id,user_name from hjl
        except
            select user_id,user_name 
            from 
            (
                select DISTINCT user_id,user_name from mjq
                union select DISTINCT user_id,user_name from dcx
                union select DISTINCT user_id,user_name from syx
                union select DISTINCT user_id,user_name from lyw
                union select DISTINCT user_id,user_name from zzy
                union select DISTINCT user_id,user_name from yhx
            )   
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(48,)]

## ÂõõÂ§ßÈáçÂêà‰∫∫Êï∞

### Âè™Âú®‰∏§‰∫∫Ê•º‰∏≠ÁïôË®Ä

In [29]:
sql = '''
    select count(*)
    from (
        select user_id,user_name from lyw
        intersect select DISTINCT user_id,user_name from syx
        except
            select user_id,user_name 
            from 
            (
                select DISTINCT user_id,user_name from hjl
                union select DISTINCT user_id,user_name from yhx
                union select DISTINCT user_id,user_name from zzy
                union select DISTINCT user_id,user_name from mjq
                union select DISTINCT user_id,user_name from dcx
            )   
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(4,)]

### Âú®‰∏§‰∫∫Ê•º‰∏≠ÁïôË®Ä

In [23]:
sql = '''
    select COUNT(*)
    from (
        select user_id,user_name from yhx
        intersect select DISTINCT user_id,user_name from hjl
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(63,)]