In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("doubangroup.db")
cur = con.cursor()
cur.execute("select COUNT(DISTINCT user_id) from shao")
print(cur.fetchall())

[(506,)]

In [13]:
cur.execute("select COUNT(user_id) from shao")
print(cur.fetchall())

[(29779,)]

In [14]:
cur.execute("select COUNT(DISTINCT user_id) from npc")
print(cur.fetchall())

[(2728,)]

In [6]:
cur.execute("select COUNT(user_id) from npc")
print(cur.fetchall())

[(26269,)]

In [7]:
cur.execute("select COUNT(*) from shao where user_id = '155619420'")
print(cur.fetchall())

[(189,)]

In [69]:
cur.execute("select user_name,count(user_id) from npc group by user_id ORDER BY count(user_id) DESC")
for i in range(0,20):
    result = cur.fetchone()
    print(result)

('æ°¸å¯‚éŸ³', 1292)
('æ©˜å­æµ·', 1282)
('ä¸­å›½å°æ¹¾å¶èˆ’å', 836)
('é…¸æ±¤é±¼è–¯ç‰‡', 403)
('SHE_ç‹å­å¼‚', 382)
('è¯·è€å¿ƒä¸€ç‚¹', 291)
('è´ªåƒçŒ«ï¼ˆå·²å½“å¦ˆ', 265)
('ç…™é‡Œä¸€éš»ç‹¼', 252)
('ç‹å­å¼‚ï¼ˆå·²ç»“å©š', 220)
('ä¸€åªå†°ç®±', 206)
('è‡ªè¡Œè½¦ä¸èŠ±', 206)
('å§šç›', 203)
('æ±Ÿæ¹–éª—å­', 182)
('è®©ä½ åˆ«çœ‹ä½ è¿˜çœ‹', 180)
('é™ˆä¿¡å®', 177)
('æ‰“æ¶è¯·æ‰£1', 147)
('å•Šï¼Ÿ', 144)
('é—¹é’Ÿä¸èµ·åºŠ', 138)
('ç‰›å¥¶æ³¡é¢ğŸ¥›', 136)
('å®‹ç¥–å„¿', 119)

In [9]:
cur.close()
con.close()

# å†·åœˆå†æç”Ÿæ€è°ƒæŸ¥

In [1]:
import sqlite3
con = sqlite3.connect("LenQuanZaiGao.db")
cur = con.cursor()

## å•äºº

In [8]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from mjq")
print(cur.fetchall())

[(275, 70)]

In [9]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from dcx")
print(cur.fetchall())

[(387, 80)]

In [7]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from syx")
print(cur.fetchall())

[(649, 87)]

In [10]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from lyw")
print(cur.fetchall())

[(596, 86)]

In [11]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from zzy")
print(cur.fetchall())

[(561, 84)]

In [12]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from yhx")
print(cur.fetchall())

[(966, 107)]

In [13]:
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from hjl")
print(cur.fetchall())

[(1675, 135)]

## æ¯æ ‹æ¥¼éƒ½å‚ä¸

In [14]:
sql = '''
    select count(*)
    from (
        select DISTINCT user_id,user_name from mjq 
        intersect select DISTINCT user_id,user_name from dcx
        intersect select DISTINCT user_id,user_name from syx
        intersect select DISTINCT user_id,user_name from lyw
        intersect select DISTINCT user_id,user_name from zzy
        intersect select DISTINCT user_id,user_name from yhx
        intersect select DISTINCT user_id,user_name from hjl
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(8,)]

## åªå‚ä¸å•æ¥¼

In [12]:
sql = '''
    select COUNT(*)
    from (
        select user_id,user_name from hjl
        except
            select user_id,user_name 
            from 
            (
                select DISTINCT user_id,user_name from mjq
                union select DISTINCT user_id,user_name from dcx
                union select DISTINCT user_id,user_name from syx
                union select DISTINCT user_id,user_name from lyw
                union select DISTINCT user_id,user_name from zzy
                union select DISTINCT user_id,user_name from yhx
            )   
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(48,)]

## å››å¤§é‡åˆäººæ•°

### åªåœ¨ä¸¤äººæ¥¼ä¸­ç•™è¨€

In [29]:
sql = '''
    select count(*)
    from (
        select user_id,user_name from lyw
        intersect select DISTINCT user_id,user_name from syx
        except
            select user_id,user_name 
            from 
            (
                select DISTINCT user_id,user_name from hjl
                union select DISTINCT user_id,user_name from yhx
                union select DISTINCT user_id,user_name from zzy
                union select DISTINCT user_id,user_name from mjq
                union select DISTINCT user_id,user_name from dcx
            )   
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(4,)]

### åœ¨ä¸¤äººæ¥¼ä¸­ç•™è¨€

In [23]:
sql = '''
    select COUNT(*)
    from (
        select user_id,user_name from yhx
        intersect select DISTINCT user_id,user_name from hjl
    )
    
'''
cur.execute(sql)
print(cur.fetchall())

[(63,)]

# è¸©ç»„cpè°ƒæŸ¥

In [12]:
import sqlite3
con = sqlite3.connect("CZCP.db")
cur = con.cursor()

## ç¢—ç›†

In [3]:
## https://www.douban.com/group/topic/202112903/?start=0
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from wpp")
print(cur.fetchall())

[(460, 214)]

In [4]:
cur.execute("select user_name,count(user_id) from wpp group by user_id ORDER BY count(user_id) DESC")
for i in range(0,10):
    result = cur.fetchone()
    print(result)

('å·²æ³¨é”€', 141)
('æ¸¸æ³³æ± ä¸å›¾ä¹¦é¦†', 11)
('ğŸ’', 8)
('ä¿äºå±¿', 5)
('æ— æƒ…æ— ä¹‰å—‘è¯æœº', 5)
('å¤§é¸¡è…¿ğŸ—', 5)
('å €æœªå¤®å¥ˆ', 4)
('ä¸€ç‚¹ç‚¹ç³–æµ†', 4)
('IZ*ONE-åäº•å—', 4)
('å°ç±³è¾£è’œæ³¥æ²¹ç¢Ÿ', 3)

In [10]:
cur.close()

## æˆå½±

In [8]:
## https://www.douban.com/group/topic/170198801/?start=0
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from xyp")
print(cur.fetchall())

[(191, 151)]

In [9]:
cur.execute("select user_name,count(user_id) from xyp group by user_id ORDER BY count(user_id) DESC")
for i in range(0,10):
    result = cur.fetchone()
    print(result)

('å¹´ç»ˆä¸ƒæŠ˜', 21)
('äººé—´åƒåœ¾è¢‹', 5)
('æ ‘è“è€³æœµå„¿', 3)
('é›ªå±±æ³¡èŠ™', 2)
('é•¿ä¿¡', 2)
('å°‘å¥³å¾å¿…æˆ', 2)
('ä¸€ç›æš®è‰²', 2)
('å˜Ÿå™œå˜Ÿå™œå˜Ÿ', 2)
('å•èº«å¥³å£«ä¿±ä¹éƒ¨', 2)
('å¤šå–çƒ­æ°´', 2)

In [11]:
cur.close()

## å®Œå¹´

In [13]:
## https://www.douban.com/group/topic/176775239/?start=0
cur.execute("select COUNT(user_id),COUNT(DISTINCT user_id) from wnp")
print(cur.fetchall())

[(261, 168)]

In [14]:
cur.execute("select user_name,count(user_id) from wnp group by user_id ORDER BY count(user_id) DESC")
for i in range(0,10):
    result = cur.fetchone()
    print(result)

('é‡‘çå¦®', 37)
('å±±å£å®æƒ ', 7)
('è‘¡è„çº¢æŸš', 4)
('æç§€ğŸˆµå¤©è¿‡æµ·', 4)
('åŠ æ‹¿å¤§', 4)
('Mesoplodon', 3)
('äºšæ–¯', 3)
('æ‰“çˆ†é‚µç¾¤ç‹—å¤´', 3)
('å…³äºä½ çš„çœ‰', 3)
('[å·²æ³¨é”€]', 3)